<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/apple/Documents/WorkSpace_new/download/spring-boot-starter-master/spring-boot-starter-master/RestApi">
    <classes>
        <class name="testdemo.PinterApiTest">
            <methods>
                <include name="test2"/>
            </methods>
    </class>
    </classes></test></suite>
